{% extends "masters/layout-empty.twig" %}

{% block content %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <div class="error-msg">
        <p class="lead-text">Internal server error.</p>
        <p class="help-msg"><a href="{{ app.request.baseUrl() ~ '/' ~ app.request.locale }}">Go to home page</a></p>
    </div>
{% endblock %}
