html, body {
    height: 100%;
}

body {
    min-height: 600px;
    font-size: 14px;
    position: relative;
}

ul { margin-bottom: 0; }

.no-click { pointer-events: none; }

/*======================
    HEADER
======================*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    display: none;
    opacity: 0;
}

header li {
    display: block;
    float: left;
    line-height: 50px;
}

header a {
    display: block;
    color: #333;
    padding: 0 25px;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

header li:not(.active) a:hover { opacity: 0.8; }

header a.logo { padding-left: 0; }

header a.stamp-link { padding-right: 0; }

header .logo img { height: 50px; }

.shown-header {
    opacity: 1;
    display: block;
}

.inner-header {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
    .inner-header {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*======================
    CONTENT
======================*/
.holder {
    position: relative;
    z-index: 2;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -70px;
    -webkit-transition: 0.4s ease -webkit-transform;
    -moz-transition: 0.4s ease -moz-transform;
    -ms-transition: 0.4s ease -ms-transform;
    -o-transition: 0.4s ease -o-transform;
    transition: 0.4s ease transform;
}

.holder:after {
    content: '';
    display: block;
    height: 70px;
}

.expanded .holder {
    -webkit-transform: translateX(-26rem);
    -moz-transform: translateX(-26rem);
    -ms-transform: translateX(-26rem);
    -o-transform: translateX(-26rem);
    transform: translateX(-26rem);
}

.con {
    position: relative;
    padding: 150px 75px 50px;
    display: none;
    opacity: 0;
    line-height: 1.8em;
    color: #939377;
}

@media screen and (max-width: 700px) {
    .con {
        padding: 80px 15px 30px;
    }
}

.con1 .row img {
    max-width: 100%;
    border: 2px solid #ddddb8;
}

.con2 { color: #626262; }

.con2 h1 { margin-bottom: 50px; }

.shown-con {
    display: block;
    opacity: 1;
}

.show-con {
    -webkit-animation: show-con 0.8s ease forwards;
    -moz-animation: show-con 0.8s ease forwards;
    -o-animation: show-con 0.8s ease forwards;
    -ms-animation: show-con 0.8s ease forwards;
    animation: show-con 0.8s ease forwards;
}

.hide-con {
    -webkit-animation: hide-con 0.6s ease forwards;
    -moz-animation: hide-con 0.6s ease forwards;
    -o-animation: hide-con 0.6s ease forwards;
    -ms-animation: hide-con 0.6s ease forwards;
    animation: hide-con 0.6s ease forwards;
}

/* hide-con */
@-webkit-keyframes hide-con {
    0% {opacity: 1;}
    100% {-webkit-transform: translateZ(-50px); opacity: 0;}
}

@-moz-keyframes hide-con {
    0% {opacity: 1;}
    100% {-moz-transform: translateZ(-50px); opacity: 0;}
}

@-o-keyframes hide-con {
    0% {opacity: 1;}
    100% {-o-transform: translateZ(-50px); opacity: 0;}
}

@-ms-keyframes hide-con {
    0% {opacity: 1;}
    100% {-ms-transform: translateZ(-50px); opacity: 0;}
}

@keyframes hide-con {
    0% {opacity: 1;}
    100% {transform: translateZ(-50px); opacity: 0;}
}

/* show-con */
@-webkit-keyframes show-con {
    0% {opacity: 0; -webkit-transform: translateZ(-50px);}
    20% {opacity: 0;}
    100% {opacity: 1; -webkit-transform: translateZ(0px);}
}

@-moz-keyframes show-con {
    0% {opacity: 0; -moz-transform: translateZ(-50px);}
    20% {opacity: 0;}
    100% {opacity: 1; -moz-transform: translateZ(0px);}
}

@-o-keyframes show-con {
    0% {opacity: 0; -o-transform: translateZ(-50px);}
    20% {opacity: 0;}
    100% {opacity: 1; -o-transform: translateZ(0px);}
}

@-ms-keyframes show-con {
    0% {opacity: 0; -ms-transform: translateZ(-50px);}
    20% {opacity: 0;}
    100% {opacity: 1; -ms-transform: translateZ(0px);}
}

@keyframes show-con {
    0% {opacity: 0; transform: translateZ(-50px);}
    20% {opacity: 0;}
    100% {opacity: 1; transform: translateZ(0px);}
}

/*======================
    SIGNUP
======================*/
.signup {
    position: fixed;
    background: #f5f5e2;
    width: 440px;
    height: 240px;
    top: 50%;
    left: 50%;
    margin-left: -220px;
    margin-top: -120px;
    z-index: 11;
    text-align: center;
    padding: 20px 20px 0 20px;
    display: none;
    font-size: 12px;
}

.signup .btn { font-size: 12px; }

.signup span {
    display: block;
    margin-bottom: 20px;
    color: #939377;
}

.signup .close_signup, .close-form {
    color: #939377;
    margin-bottom: 12px;
    display: block;
}

.close-form { margin-top: 24px; }

.form-style span { color: #939377; }

.contact .sending, .signup .sending {
    opacity: 0;
}

/*.form-style .errors .error-msg { opacity: 1; display: block; }*/

.signup .close_signup:hover, .signup .close_signup:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
}

.signup form {
    width: 250px;
    margin: 0 auto;
}

.signup input, .contact input, .contact textarea {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #f5f5e2;
    border-color: #e0e0d1;
    color: #909084;
    text-align: center;
}

.warned {
    background: #fcece9 !important;
    border-color: #fc494c !important;
}

.signup input:focus, .contact input:focus, .contact textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ddddb8;
}

.form-send {
    margin-top: 24px;
}

.form-style .btn-default {
    border: none;
    background: none;
    color: #939377;
}

.form-style .btn-default:focus {
    outline: none;
    color: #676754;
}

.form-style .btn-default:hover, .form-style .btn-default:focus, .signup .notif:hover, .signup .notif:focus {
    color: #76765b;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-group { margin-bottom: 20px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:    #909084 !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color:    #909084 !important;
    opacity:  1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color:    #909084 !important;
    opacity:  1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:    #909084 !important;
}

.open_signup { margin-top: -10px; }

.open_signup, .close_signup { display: block; }

.fadeUp {
    -webkit-animation: fadeUp 0.4s ease forwards;
    -moz-animation: fadeUp 0.4s ease forwards;
    -o-animation: fadeUp 0.4s ease forwards;
    -ms-animation: fadeUp 0.4s ease forwards;
    animation: fadeUp 0.4s ease forwards;
}

/* fadeUp */
@-webkit-keyframes fadeUp {
    0% {-webkit-transform: translateY(0px); opacity: 1;}
    100% {-webkit-transform: translateY(-30px); opacity: 0;}
}

@-moz-keyframes fadeUp {
    0% {-moz-transform: translateY(0px); opacity: 1;}
    100% {-moz-transform: translateY(-30px); opacity: 0;}
}

@-o-keyframes fadeUp {
    0% {-o-transform: translateY(0px); opacity: 1;}
    100% {-o-transform: translateY(-30px); opacity: 0;}
}

@-ms-keyframes fadeUp {
    0% {-ms-transform: translateY(0px); opacity: 1;}
    100% {-ms-transform: translateY(-30px); opacity: 0;}
}

@keyframes fadeUp {
    0% {transform: translateY(0px); opacity: 1;}
    100% {transform: translateY(-30px); opacity: 0;}
}


/*======================
    BACKGROUND
======================*/
.bg {
    min-width: 1024px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    opacity: 0;
}

.bgh {
    background: #000;
    opacity: 1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.shown-bg {
    opacity: 1;
}

.show-bg {
    -webkit-animation: show-bg 0.7s ease forwards;
    -moz-animation: show-bg 0.7s ease forwards;
    -o-animation: show-bg 0.7s ease forwards;
    -ms-animation: show-bg 0.7s ease forwards;
    animation: show-bg 0.7s ease forwards;
}

.hide-bg {
    -webkit-animation: hide-bg 0.6s ease 0.22s forwards;
    -moz-animation: hide-bg 0.6s ease 0.22s forwards;
    -o-animation: hide-bg 0.6s ease 0.22s forwards;
    -ms-animation: hide-bg 0.6s ease 0.22s forwards;
    animation: hide-bg 0.6s ease 0.22s forwards;
}

/* hide-bg */
@-webkit-keyframes hide-bg {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes hide-bg {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes hide-bg {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes hide-bg {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes hide-bg {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* show-bg */
@-webkit-keyframes show-bg {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes show-bg {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes show-bg {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes show-bg {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes show-bg {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/*======================
    HEADER OVERLAY (BG)
======================*/
.ho {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    height: 100px;
    opacity: 0;
    z-index: 3;
}

.shown-ho { opacity: 1; }

.ho1 { background: url('../images/bg1-header.png') no-repeat center top fixed; }

.ho2 { background: url('../images/bg2-header.png') no-repeat center top fixed; }

.hide-ho {
    -webkit-animation: hide-bg 0.3s ease forwards;
    -moz-animation: hide-bg 0.3s ease forwards;
    -o-animation: hide-bg 0.3s ease forwards;
    -ms-animation: hide-bg 0.3s ease forwards;
    animation: hide-bg 0.3s ease forwards;
}

.show-ho {
    -webkit-animation: show-bg 0.5s ease 0.4s forwards;
    -moz-animation: show-bg 0.5s ease 0.4s forwards;
    -o-animation: show-bg 0.5s ease 0.4s forwards;
    -ms-animation: show-bg 0.5s ease 0.4s forwards;
    animation: show-bg 0.5s ease 0.4s forwards;
}

/*======================
    BRUSH
======================*/
.brush {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    opacity: 0;
}

.shown-brush { opacity: 1; }

/*======================
    SHADOWS (dim screens)
======================*/
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: none;
}

.first-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.98);
    z-index: 10;
}

/*======================
    CONTACT
======================*/
.contact, .legal-modal {
    z-index: 12;
    position: absolute;
    background: #f5f5e2;
    min-height: 650px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    top: -700px;
    padding: 70px 48px 50px;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
}

.legal-modal {
    background: #f5f5e2;
    border-color: #e0e0d1;
    color: #909084;
    text-align: left;
    line-height: 1.9;
}

@media screen and (max-width: 700px) {
    .contact, .legal-modal {
        width: 400px;
        margin-left: -200px;
    }
}

@media screen and (max-width: 500px) {
    .contact, .legal-modal {
        width: 360px;
        margin-left: -180px;
        padding: 70px 24px 50px;
    }
}

.contact form {
    margin: 0 auto;
}

.contact img {
    display: block;
    text-align: center;
    margin: 0 auto 75px auto;
}

.close-contact, .close-legal {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
}

.contact-success, .contact-fail, .sub-success, .sub-fail {
    background: #b6d3b3;
    color: #6d806b;
    padding: 25px;
    text-align: center;
    width: 350px;
    height: 100px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -175px;
    z-index: 20;
    border: 1px solid #6d806b;
    display: none;
    opacity: 0;
}

.contact-fail, .sub-fail {
    background: #ffdcc8;
    color: #9a4f4f;
}

.contact-success.show-msg, .contact-fail.show-msg, .sub-fail.show-msg, .sub-success.show-msg {
    display: block;
    opacity: 1;

}

.contact.shown, .legal-modal.shown {
    -webkit-transform: translateY(750px);
    -moz-transform: translateY(750px);
    -ms-transform: translateY(750px);
    -o-transform: translateY(750px);
    transform: translateY(750px);
}


/*======================
    GALLERY
======================*/
.thumb {
    position: relative;
    margin-bottom: 50px;
}

.preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.preview i.fa {
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    color: #efefef;
    line-height: 60px;
    vertical-align: middle;
    height: 60px;
    width: 60px;
    background: rgba(0,0,0,0.85);
    border-radius: 50%;
}

.thumb:hover .preview { opacity: 1; }

/*======================
    ABOUT PAGE
======================*/
.about-section {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.section {
    display: none;
    opacity: 0;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.shown-section {
    display: block;
    opacity: 1;
}

.more {
    line-height: 63px;
    margin-left: 10px;
    position: absolute;top:0;
    right:12px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
}

.more.turned {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media screen and (max-width: 700px) {
    .about-section {
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-section img {
        height: 33px;
    }
    .more {
        top: -8px;
    }
}

.slideOut {
    -webkit-animation: slideOut 0.5s ease forwards;
    -moz-animation: slideOut 0.5s ease forwards;
    -o-animation: slideOut 0.5s ease forwards;
    -ms-animation: slideOut 0.5s ease forwards;
    animation: slideOut 0.5s ease forwards;
}

.slideIn {
    display: block;
    -webkit-animation: slideIn 0.5s ease forwards;
    -moz-animation: slideIn 0.5s ease forwards;
    -o-animation: slideIn 0.5s ease forwards;
    -ms-animation: slideIn 0.5s ease forwards;
    animation: slideIn 0.5s ease forwards;
}


/* slideOut */
@-webkit-keyframes slideOut {
    0% { -webkit-transform: translateX(0px); opacity: 1; }
    100% { -webkit-transform: translateX(100px); opacity: 0; }
}

@-moz-keyframes slideOut {
    0% { -moz-transform: translateX(0px); opacity: 1; }
    100% { -moz-transform: translateX(100px); opacity: 0; }
}

@-o-keyframes slideOut {
    0% { -o-transform: translateX(0px); opacity: 1;  }
    100% { -o-transform: translateX(100px); opacity: 0; }
}

@-ms-keyframes slideOut {
    0% { -ms-transform: translateX(0px); opacity: 1; }
    100% { -ms-transform: translateX(100px); opacity: 0; }
}

@keyframes slideOut {
    0% { transform: translateX(0px); opacity: 1; }
    100% { transform: translateX(100px); opacity: 0; }
}

/* slideIn */
@-webkit-keyframes slideIn {
    0% { -webkit-transform: translateX(100px); opacity: 0; }
    100% { -webkit-transform: translateX(0px); opacity: 1; }
}

@-moz-keyframes slideIn {
    0% { -moz-transform: translateX(100px); opacity: 0; }
    100% { -moz-transform: translateX(0px); opacity: 1; }
}

@-o-keyframes slideIn {
    0% { -o-transform: translateX(100px); opacity: 0; }
    100% { -o-transform: translateX(0px); opacity: 1; }
}

@-ms-keyframes slideIn {
    0% { -ms-transform: translateX(100px); opacity: 0; }
    100% { -ms-transform: translateX(0px); opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateX(100px); opacity: 0; }
    100%  { ransform: translateX(0px); opacity: 1; }
}


/*======================
    MODAL
======================*/

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.modal-content{
    background-color: #101010;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal {
    background-color: #101010;
    padding: 10px;
    overflow: hidden;
}

.modal-footer {
    background-color: #101010;
    color: #ccc;
    text-align: left;
    border-top: none;
    border: none;
}

.modal-dialog{
    max-width: 600px;
    max-height: 400px !important;
    margin: 0 auto;
}

.modal-body{
    padding: 0;
    overflow: hidden;
}

.modal-body img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

@media screen and (min-height: 400px) {
    .modal-body img {
        max-height: 300px;
    }
}

@media screen and (min-height: 500px) {
    .modal-body img {
        max-height: 400px;
    }
}

@media screen and (min-height: 600px) {
    .modal-body img {
        max-height: 500px;
    }
}

@media screen and (min-height: 700px) {
    .modal-body img {
        max-height: 600px;
    }
}

@media screen and (min-height: 800px) {
    .modal-body img {
        max-height: 700px;
    }
}

@media screen and (min-height: 950px) {
    .modal-body img {
        max-height: 850px;
    }
}

.modal-controls {
    position: absolute;
    top: 50%;
    margin-top: -48px;
    padding: 20px;
    height: 80px;
    background: #101010;
    text-align: center;
    cursor: pointer;
}

.modal-controls i.fa {
    line-height: 40px;
    vertical-align: middle;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.modal-controls:hover i.fa { color: #d8d8dd; }

.modal-prev { left: 0; }

.modal-next { right: 0; }

@media screen and (min-width: 768px) {
    .modal-prev {
        left: 7%;
    }
    .modal-next {
        right: 7%;
    }
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: #101010;
    padding: 10px;
}

.modal-close .glyphicon { font-weight: 100; }

.modal-close span {
    line-height: 20px;
    vertical-align: middle;
}

.modal {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #202020;
}

/*======================
    FOOTER
======================*/
footer {
    width: 100%;
    position: relative;
    z-index: 3;
    color: #939377;
    opacity: 0;
    height: 70px;
}

footer a { color: #939377; }

footer a:hover, footer a:focus {
    color: #7d7d61;
    text-decoration: none;
}

footer.f2 a, footer.f2 { color: #383838; }

footer.f2 a:hover, footer.f2 a:focus { color: #444444; }

.shown-footer { opacity: 1; }

@media screen and (max-width: 700px) {
    .selective {
        display: none;
    }
}

.inner-footer {
    font-size: 12px;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.stamp {
    height: 50px;
    display: block;
    position: absolute;
    right: 15px;
    opacity: 0;
}

.shown-stamp { opacity: 1; }

.legal {
    margin-top: 10px;
    margin-right: 65px;
}

.legal p {
    margin-bottom: 6px;
    line-height: 12px;
}


/*======================
    LOADER
======================*/
.spinner-wrap {
    position: absolute;
    left:0;
    right:0;
    text-align: center;
    z-index: 1;
    margin-top: -140px;
    top: 50%;
    width: 100%;
}

.spinner {
    width: 80px;
    height: 80px;
    margin: 100px auto;
    -webkit-animation: rotateplane 1.8s infinite ease-in-out;
    -moz-animation: rotateplane 1.8s infinite ease-in-out;
    -o-animation: rotateplane 1.8s infinite ease-in-out;
    -ms-animation: rotateplane 1.8s infinite ease-in-out;
    animation: rotateplane 1.8s infinite ease-in-out;
}

.spinner img { max-width: 100%; }

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px); }
    25% { -webkit-transform: perspective(120px) rotateY(180deg); }
    50% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); }
    75% { -webkit-transform: perspective(120px) rotateY(360deg) rotateX(180deg); }
    100% { -webkit-transform: perspective(120px) rotateY(360deg) rotateX(0deg); }
}

@-moz-keyframes rotateplane {
    0% { -moz-transform: perspective(120px); }
    25% { -moz-transform: perspective(120px) rotateY(180deg); }
    50% { -moz-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); }
    75% { -moz-transform: perspective(120px) rotateY(360deg) rotateX(180deg); }
    100% { -moz-transform: perspective(120px) rotateY(360deg) rotateX(0deg); }
}

@-o-keyframes rotateplane {
    0% { -o-transform: perspective(120px); }
    25% { -o-transform: perspective(120px) rotateY(180deg); }
    50% { -o-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); }
    75% { -o-transform: perspective(120px) rotateY(360deg) rotateX(180deg); }
    100% { -o-transform: perspective(120px) rotateY(360deg) rotateX(0deg); }
}

@-ms-keyframes rotateplane {
    0% { -ms-transform: perspective(120px); }
    25% { -ms-transform: perspective(120px) rotateY(180deg); }
    50% { -ms-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); }
    75% { -ms-transform: perspective(120px) rotateY(360deg) rotateX(180deg); }
    100% { -ms-transform: perspective(120px) rotateY(360deg) rotateX(0deg); }
}

@keyframes rotateplane {
    0% { transform: perspective(120px); }
    25% { transform: perspective(120px) rotateY(180deg); }
    50% { transform: perspective(120px) rotateY(180deg)  rotateX(180deg); }
    75% { transform: perspective(120px) rotateY(360deg) rotateX(180deg); }
    100% { transform: perspective(120px) rotateY(360deg) rotateX(0deg); }
}

/*======================
    ANIMATIONS (JS)
======================*/
.fadeIn {
    -webkit-animation: fadeIn 0.5s ease forwards;
    -moz-animation: fadeIn 0.5s ease forwards;
    -ms-animation: fadeIn 0.5s ease forwards;
    -o-animation: fadeIn 0.5s ease forwards;
    animation: fadeIn 0.5s ease forwards;
}

.fadeInAndShow {
    -webkit-animation: fadeIn 0.5s ease forwards;
    -o-animation: fadeIn 0.5s ease forwards;
    -moz-animation: fadeIn 0.5s ease forwards;
    -ms-animation: fadeIn 0.5s ease forwards;
    animation: fadeIn 0.5s ease forwards;
    display: block;
}

.fadeOut {
    -webkit-animation: fadeOut 0.5s ease forwards;
    -moz-animation: fadeOut 0.5s ease forwards;
    -ms-animation: fadeOut 0.5s ease forwards;
    -o-animation: fadeOut 0.5s ease forwards;
    animation: fadeOut 0.5s ease forwards;
}

.zoomOut {
    -webkit-animation: zoomOut 0.4s ease forwards;
    -moz-animation: zoomOut 0.4s ease forwards;
    -ms-animation: zoomOut 0.4s ease forwards;
    -o-animation: zoomOut 0.4s ease forwards;
    animation: zoomOut 0.4s ease forwards;
}

.zoomInAndShow {
    -webkit-animation: zoomInAndShow 0.4s ease forwards;
    -moz-animation: zoomInAndShow 0.4s ease forwards;
    -ms-animation: zoomInAndShow 0.4s ease forwards;
    -o-animation: zoomInAndShow 0.4s ease forwards;
    animation: zoomInAndShow 0.4s ease forwards;
    display: block;
}

/* zoomInAndShow */
@-webkit-keyframes zoomInAndShow {
    0% { opacity: 0; -webkit-transform: translateZ(-100px); }
    100% { opacity: 1; -webkit-transform: translateZ(0); }
}

@-moz-keyframes zoomInAndShow {
    0% { opacity: 0; -moz-transform: translateZ(-100px); }
    100% { opacity: 1; -moz-transform: translateZ(0); }
}

@-o-keyframes zoomInAndShow {
    0% { opacity: 0; -o-transform: translateZ(-100px); }
    100% { opacity: 1; -o-transform: translateZ(0); }
}

@-ms-keyframes zoomInAndShow {
    0% { opacity: 0; -ms-transform: translateZ(-100px); }
    100% { opacity: 1; -ms-transform: translateZ(0); }
}

@keyframes zoomInAndShow {
    0% { opacity: 0; transform: translateZ(-100px); }
    100% { opacity: 1; transform: translateZ(0); }
}

/* fadeIn*/
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*fadeOut*/
@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* zoomOut */
@-webkit-keyframes zoomOut {
    0% { opacity: 1; -webkit-transform: translateZ(0); }
    100% { opacity: 0; -webkit-transform: translateZ(-100px); }
}

@-moz-keyframes zoomOut {
    0% { opacity: 1; -moz-transform: translateZ(0); }
    100% { opacity: 0; -moz-transform: translateZ(-100px); }
}

@-o-keyframes zoomOut {
    0% { opacity: 1; -o-transform: translateZ(0); }
    100% { opacity: 0; -o-transform: translateZ(-100px); }
}

@-ms-keyframes zoomOut {
    0% { opacity: 1; -ms-transform: translateZ(0); }
    100% { opacity: 0; -ms-transform: translateZ(-100px); }
}

@keyframes zoomOut {
    0% { opacity: 1; transform: translateZ(0); }
    100% { opacity: 0; transform: translateZ(-100px); }
}

/*================================
    Mobile nav, Mobile menu
================================*/
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: #fff;
    display: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

body.expanded .mobile-nav {
    -webkit-transform: translateX(-26rem);
    -moz-transform: translateX(-26rem);
    -ms-transform: translateX(-26rem);
    -o-transform: translateX(-26rem);
    transform: translateX(-26rem);
}

.mobile-nav .inner-header {
    height: 50px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.mobile-nav .logo img {
    height: 40px;
}

.nav-open {
    display: block;
    float: right;
}

.nav-btn {
    position: relative;
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

.line {
    width: 24px;
    height: 3px;
    background: #777;
    position: absolute;
}

.line1 {
    top: 11px; left: 8px;
    -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s 0.3s, -moz-transform 0.3s;
    -ms-transition: top 0.3s 0.3s, -ms-transform 0.3s;
    -o-transition: top 0.3s 0.3s, -o-transform 0.3s;
    transition: top 0.3s 0.3s, transform 0.3s;
}

.nav-open.opened .line1 {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
    -moz-transition: top 0.3s, -moz-transform 0.3s 0.3s;
    -ms-transition: top 0.3s, -ms-transform 0.3s 0.3s;
    -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
    transition: top 0.3s, transform 0.3s 0.3s;
}

.line2 {
    top: 18px;
    left: 8px;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.nav-open.opened .line2 { opacity: 0; }

.line3 {
    top: 25px; left: 8px;
    -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s 0.3s, -moz-transform 0.3s;
    -ms-transition: top 0.3s 0.3s, -ms-transform 0.3s;
    -o-transition: top 0.3s 0.3s, -o-transform 0.3s;
    transition: top 0.3s 0.3s, transform 0.3s;
}

.nav-open.opened .line3 {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
    -moz-transition: top 0.3s, -moz-transform 0.3s 0.3s;
    -ms-transition: top 0.3s, -ms-transform 0.3s 0.3s;
    -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
    transition: top 0.3s, transform 0.3s 0.3s;
}

.mobile-menu {
    width: 26rem;
    background: #fff;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: -26rem;
    z-index: 10;
    font-size: 1.1em;
    text-transform: uppercase;
    overflow: auto;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.mobile-menu li {
    line-height: 38px;
    display: block;
    border-bottom: 1px solid #fff;
    background: #f7f7f7;
}

.mobile-menu li.active { background: #fff; }

.mobile-menu a {
    display: block;
    font-size: 14px;
    padding: 6px 24px;
    color: rgba(0, 0, 0, 0.8);
}

.mobile-menu a:hover { color: #999; }

.mobile-menu li.active > a {
    color: #999;
    pointer-events: none;
}

.mobile-menu a { text-decoration: none; }

body.expanded .mobile-menu {
    -webkit-transform: translateX(-26rem);
    -moz-transform: translateX(-26rem);
    -ms-transform: translateX(-26rem);
    -o-transform: translateX(-26rem);
    transform: translateX(-26rem);
}


@media screen and (max-width: 700px) {
    .mobile-nav {
        display: block;
    }
    header.shown-header {
        display: none !important;
    }
    .ho, .shown-ho, header.fadeIn, header.fadeInAndShow, .shown-ho.fadeIn, .shown-ho.fadeInAndShow {
        display: none !important;
        opacity: 0 !important;
    }
}

.mobile-overlay {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    bottom:0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    -webkit-transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -ms-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

body.expanded .mobile-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-26rem);
    -moz-transform: translateX(-26rem);
    -ms-transform: translateX(-26rem);
    -o-transform: translateX(-26rem);
    transform: translateX(-26rem);
}

.hide-nav { opacity: 0 !important; }